
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalDaily {
display: flex;
justify-content: center;
  align-items: center;
}

table, th, td {
  border:1px solid  #127a1a;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(137, 177, 138, 0.5));
  color: #320a2b;
  letter-spacing: 1px;

}


.container {
  display: flex;
  justify-content: center;
}

.containerSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  width: 30%;
 padding: 12px 24px;
 background-color: transparent;
 font-size: 14px;
 line-height: 18px;
 color: #575756;
 background-color: transparent;
 margin-left: 0px;
 box-shadow: inset 0px 0px 0px 4px #ddd6e8;

}


h1, h2, h5, ul, p {
  font-family: 'Nanum Myeongjo', serif;
  color: #320a2b;
}

h1 {
 font-size: 33px;
 color: #320a2b;

font-weight: bold;
 font-family: 'Nanum Myeongjo', serif;

}


h5 {
  font-size: 18px;
  text-transform: uppercase;

}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
 

}

.test {
  background: #dbecc4;
  border: 0;
  border-radius: 12px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  transition: box-shadow .2s ease-in-out;
  margin-top: 10px;
}

.icon {
  width: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: #dbecc4;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}
hr {
  width: 50%;
  border: 3px solid #46554c;
}

